In [1]:
import pandas as pd

In [2]:
df1=pd.DataFrame({'A':[1,2,3]})
df2=pd.DataFrame({'B':[4,5,6]})

In [9]:
new_df=pd.concat([df1, df2], axis=1)
print(new_df)

   A  B
0  1  4
1  2  5
2  3  6

In [8]:
new_df=pd.concat([df1, df2], axis=1,ignore_index=True)
print(new_df)

   0  1
0  1  4
1  2  5
2  3  6

In [5]:
df=pd.concat([df1,df2],keys=['df1','df2'])
print(df)

         A    B
df1 0  1.0  NaN
    1  2.0  NaN
    2  3.0  NaN
df2 0  NaN  4.0
    1  NaN  5.0
    2  NaN  6.0

In [10]:
jan=pd.DataFrame({'order_id':[1,2,3],'amount':[100,200,300],'month':['2024_01','2024_01','2024_01']})
feb=pd.DataFrame({'order_id':[4,5,6],'amount':[400,500,600],'month':['2024_02','2024_02','2024_02']})
df=pd.concat([jan,feb],ignore_index=True)
print(df)

   order_id  amount    month
0         1     100  2024_01
1         2     200  2024_01
2         3     300  2024_01
3         4     400  2024_02
4         5     500  2024_02
5         6     600  2024_02

In [ ]:
df1.merge(df2,left_on='id1',right_on='id2',how='inner') # used when columns names differ in the two dataframes

In [ ]:
df1.merge(df2,left_index=True,right_index=True,how='inner') # merge based on index values

In [15]:
orders=pd.DataFrame({'order_id':[1,2,3],'customer_id':[10,11,10],'amount':[100,200,300]})
customers=pd.DataFrame({'customer_id':[10,11],'customer_name':['Alice','Bob']})
N_orders=orders.merge(customers,on='customer_id',how='left') # left join to keep all orders and add customer names where available
print(N_orders)

   order_id  customer_id  amount customer_name
0         1           10     100         Alice
1         2           11     200           Bob
2         3           10     300         Alice

In [ ]:
df1.merge(df2,on='key',suffixes=('_left','_right')) # add suffixes to overlapping column names in the two dataframes

In [16]:
a=pd.DataFrame({'id':[1,2],'status':['new','paid']})
b=pd.DataFrame({'id':[1,2],'status':['shipped','delivered']})
df_suffix=a.merge(b,on='id',suffixes=('_order','_shipping')) # add suffix
print(df_suffix)

   id status_order status_shipping
0   1          new         shipped
1   2         paid       delivered

In [17]:
N_orders.groupby('customer_name')['amount'].agg(['sum',min,max,'count']) # group by customer name and calculate total, min, max, and count of orders for each customer

C:\Users\salma\AppData\Local\Temp\ipykernel_8128\2616962809.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  N_orders.groupby('customer_name')['amount'].agg(['sum',min,max,'count']) # group by customer name and calculate total, min, max, and count of orders for each customer
C:\Users\salma\AppData\Local\Temp\ipykernel_8128\2616962809.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  N_orders.groupby('customer_name')['amount'].agg(['sum',min,max,'count']) # group by customer name and calculate total, min, max, and count of orders for each customer

               sum  min  max  count
customer_name
Alice          400  100  300      2
Bob            200  200  200      1

In [ ]:
def filter_func(x):
    return x['data2'].std() > 4

df.groupby('key').filter(filter_func)

In [ ]:
def center(x):
    return x - x.mean()
df.groupby('key').transform(center)

In [ ]:
def norm_by_data2(x):
# x is a DataFrame of group values
    x['data1'] /= x['data2'].sum()
    return x

df.groupby('key').apply(norm_by_data2)

In [3]:
import pandas as pd
df = pd.DataFrame({
'region' : ['EMEA', 'EMEA','AMER','APAC','EMEA'],
'amount': [120,90,75,60,180]

})
df['region']=df['region'].astype('category')
kpi = df.groupby('region', observed=True) ['amount']. sum().reset_index()# group by region and sum amounts, only including observed categories

print(kpi)

  region  amount
0   AMER      75
1   APAC      60
2   EMEA     390

In [4]:
agg = (df.groupby('region' ) ['amount' ]
.agg(total='sum', avg='mean', orders='count')
.reset_index())

print(agg)

  region  total    avg  orders
0   AMER     75   75.0       1
1   APAC     60   60.0       1
2   EMEA    390  130.0       3

C:\Users\salma\AppData\Local\Temp\ipykernel_48260\835938285.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agg = (df.groupby('region' ) ['amount' ]

In [20]:
thr = 200
big = (df.groupby('region')['amount']
. sum()
.loc[lambda s: s >= thr]
.reset_index(name='total'))

print(big)

  region  total
0   EMEA    390

C:\Users\salma\AppData\Local\Temp\ipykernel_8128\1340788278.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  big = (df.groupby('region')['amount']

In [26]:
sales = pd.DataFrame({
'month' :['2024-01', '2024-01', '2024-02', '2024-02'],
'region' : ['EMEA','AMER','EMEA','AMER'],
'amount' : [210,180, 340, 120]
})

pt = pd.pivot_table(sales, index='month', columns='region', values='amount',
aggfunc='sum', fill_value=0)
print(pt)

region   AMER  EMEA
month
2024-01   180   210
2024-02   120   340

In [27]:
pt['Total'] = pt.sum(axis=1)# this adds a new column 'Total' to the pivot table which contains the sum of values across all regions for each month
print(pt,'\n')
share = (pt.div(pt['Total'], axis=0) * 100).round(1)# this calculates the percentage share of each region's amount relative to the total for each month and rounds it to one decimal place
print(share)

region   AMER  EMEA  Total
month
2024-01   180   210    390
2024-02   120   340    460

region   AMER  EMEA  Total
month
2024-01  46.2  53.8  100.0
2024-02  26.1  73.9  100.0

In [5]:
from dateutil import parser
data =parser.parse('2024-01-01')
print(data)

2024-01-01 00:00:00

In [7]:
from datetime import datetime
print(datetime.now())
date=datetime(2024,1,1)
print(date)

2026-02-21 03:38:35.046834
2024-01-01 00:00:00

In [8]:
import numpy as np
dates = pd.array(['2024-01-01', '2024-02-01', '2024-03-01'], dtype='datetime64[ns]')
print(dates)

<DatetimeArray>
['2024-01-01 00:00:00', '2024-02-01 00:00:00', '2024-03-01 00:00:00']
Length: 3, dtype: datetime64[ns]

In [9]:
import pandas as pd 
date=pd.to_datetime("4th of July, 2024")
print(date)

2024-07-04 00:00:00

In [12]:
#using timestamps as index 
index=pd.DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01'])
data = pd.Series([100, 200, 300], index=index)
print(data['2024-01-01':'2024-03-01'])

2024-01-01    100
2024-02-01    200
2024-03-01    300
dtype: int64

In [15]:
dates=pd.date_range(start='2024-01-01', freq='D',periods=10) # generate a range of daily timestamps from Jan 1 to Jan 10, 2024
print(dates)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dates=pd.date_range(start='2024-01-01', freq='M',periods=10)
print(dates)

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31'],
              dtype='datetime64[ns]', freq='ME')

C:\Users\salma\AppData\Local\Temp\ipykernel_48260\2584523840.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates=pd.date_range(start='2024-01-01', freq='M',periods=10)

In [18]:
dates=pd.date_range(start='2024-01-01', freq='h',periods=10)
print(dates)

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='h')

In [21]:
ts = pd. DataFrame({
'date': pd.date_range('2024-01-01', periods=14, freq='D'),
'requests' : [100,120,90,95, 130, 125, 140, 150, 160, 155, 170, 180, 175, 190]
}).set_index('date')

weekly = ts.resample('w'). sum()
ts['reqs_7d_ma'] = ts['requests'].rolling(7, min_periods=1).mean()
print(ts)

            requests  reqs_7d_ma
date
2024-01-01       100  100.000000
2024-01-02       120  110.000000
2024-01-03        90  103.333333
2024-01-04        95  101.250000
2024-01-05       130  107.000000
2024-01-06       125  110.000000
2024-01-07       140  114.285714
2024-01-08       150  121.428571
2024-01-09       160  127.142857
2024-01-10       155  136.428571
2024-01-11       170  147.142857
2024-01-12       180  154.285714
2024-01-13       175  161.428571
2024-01-14       190  168.571429

C:\Users\salma\AppData\Local\Temp\ipykernel_48260\3463994704.py:6: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  weekly = ts.resample('w'). sum()

In [23]:
events = pd.DataFrame({'ts':pd.to_datetime(['2024-01-05','2024-01-11']),'amount':[1000, 2000]}).sort_values('ts')
fx = pd.DataFrame({'ts':pd.to_datetime(['2024-01-01','2024-01-08','2024-01-15']),
'rate': [1.1,1.12,1.09]}).sort_values('ts')

joined = pd.merge_asof(events, fx, on='ts', direction='backward')
joined['amount_local']=(joined['amount'] * joined['rate']).round(2)
print(joined)

          ts  amount  rate  amount_local
0 2024-01-05    1000  1.10        1100.0
1 2024-01-11    2000  1.12        2240.0

In [24]:
df = pd.DataFrame({
'country':['EG', 'EG','US','EG','US'],
'date':pd. to_datetime([ '2024-03-01', '2024-03-05', '2024-03-01', '2024-03-10', '2024-03-06']),
'revenue': [100,120,90,200,150]
}).set_index(['country','date']).sort_index()

subset = df.loc[('EG', slice('2024-03-01', '2024-03-15')), :]

print(subset)

                    revenue
country date
EG      2024-03-01      100
        2024-03-05      120
        2024-03-10      200

In [26]:
idx = pd. IndexSlice
xs_eg = df.xs('EG', level='country')
rev_window = df.loc[idx['EG', '2024-03-01':'2024-03-10'], 'revenue']
print(rev_window)

# all EG

country  date
EG       2024-03-01    100
         2024-03-05    120
         2024-03-10    200
Name: revenue, dtype: int64

In [28]:
dim = pd.DataFrame({'region' : ['EMEA','AMER','APAC']})
dim['region'] = dim['region'].astype('category')
dim = dim.set_index('region')

dim.loc['EMEA'] # category-backed index lookup

Series([], Name: EMEA, dtype: float64)