List

In [1]:
my_list=[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [3]:
print(type(my_list))

<class 'list'>

In [ ]:
# add an element to the end of the list
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# add an element to the beginning of the list or at a specific index
my_list.insert(0,0) # insert(index,element)
print(my_list)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# remove an element from the end of the list
out=my_list.pop()
print(out)
print(my_list)

6
[0, 1, 2, 3, 4, 5]

In [ ]:
# remove an element by value (remove element you want to remove not the index)
my_list.remove(3)
print(my_list)

[0, 1, 2, 4, 5]

In [9]:
list1=[1,2,3]
list2=[4,5,6]
# concatenate two lists
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [10]:
# extend a list with another list
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [15]:
my_list.clear()
print(my_list)

[]

In [16]:
# copy a list
my_list=list1.copy()
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# extend a list with another list
my_list.extend([9,7,8])
print(my_list)
# sort a list
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 9, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
print(len(my_list))

9

Tuple

In [20]:
tuple1=(1,2,3,4)
tuple2=('s','a','l','m','a')
print(tuple1)
print(tuple2)

(1, 2, 3, 4)
('s', 'a', 'l', 'm', 'a')

In [21]:
print(len(tuple1),len(tuple2))
print(type(tuple1),type(tuple2))

4 5
<class 'tuple'> <class 'tuple'>

In [24]:
coordinates=(10.0,20.0,10.0)
print(coordinates[0])
print(coordinates.count(10.0))

10.0
2

In [25]:
print(coordinates.index(20.0))

1

In [27]:
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 's', 'a', 'l', 'm', 'a')

Set

In [ ]:
# sets contain unique elements and are unordered
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [32]:
print(len(set1))
print(type(set1))

5
<class 'set'>

In [34]:
set2=set([1,2,3,6,5])
print(set2)
print(type(set2))
print(len(set2))

{1, 2, 3, 5, 6}
<class 'set'>
5

In [ ]:
set1.add(6)
print(set1)

set1.remove(2)
print(set1)

set1.discard(10) # discard does not raise an error if the element is not found
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

In [ ]:
set1.remove(10) # remove raises an error if the element is not found

In [ ]:
set1.update(set2)
print(set1) # union of two sets taking care of duplicates

{1, 2, 3, 4, 5, 6}

In [ ]:
# union of two sets returns a new set but update modifies the original set
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6}

In [39]:
# intersection of two sets
set_intersection=set1.intersection(set2)
print(set_intersection)

set4=set1.difference(set2)
print(set4)

{1, 2, 3, 5, 6}
{4}

In [42]:
set1.intersection_update(set2) # get intersection of two sets and update the original set
print(set1)

{1, 2, 3, 5, 6}

Dictionary

In [ ]:
# dictionaries can have keys of any immutable type and values of any type
dic1={'name':'ahmed','age':'25','gender':'male',1:[1,2,3]}
print(dic1)

{'name': 'ahmed', 'age': '25', 'gender': 'male', 1: [1, 2, 3]}

In [44]:
print(type(dic1))
print(len(dic1))

<class 'dict'>
4

In [45]:
dic2=dict(name='sarah',age='30',gender='female')
print(dic2)

{'name': 'sarah', 'age': '30', 'gender': 'female'}

In [58]:
print(dic2['name'])
print(dic2.get('age')) # get value of a key using get method
print(dic1.get('name'))

sarah
30
ahmed

In [48]:
dic3=dic1.copy()
print(dic3)

{'name': 'ahmed', 'age': '25', 'gender': 'male', 1: [1, 2, 3]}

In [ ]:
del dic3 # delete the dictionary
print(dic3) # this will raise an error because dic3 has been deleted

In [51]:
dic_copy=dic1.copy()
dic_copy.clear() # clear the dictionary but keep the reference
print(dic_copy)

{}

In [ ]:
# use fromkeys to create a dic with other dictionary keys  and values = 0
new_dic=dict.fromkeys(dic1.keys(),0)
print(new_dic)

{'name': 0, 'age': 0, 'gender': 0, 1: 0}

In [ ]:
## use fromkeys to create a dic with other dictionary keys and values = unknown
new_dic2=dict.fromkeys(dic1.keys(),'unknown')
print(new_dic2)

{'name': 'unknown', 'age': 'unknown', 'gender': 'unknown', 1: 'unknown'}

In [60]:
check='name' in dic1
print(check)

True

In [63]:
print(dic1.items())
print(dic1.keys())
print(dic1.values())

dict_items([('name', 'ahmed'), ('age', '25'), ('gender', 'male'), (1, [1, 2, 3])])
dict_keys(['name', 'age', 'gender', 1])
dict_values(['ahmed', '25', 'male', [1, 2, 3]])

In [ ]:
dic1.update([('name','alice'),('age','26')])# update the value of existing keys in the dictionary
print(dic1)

{'name': 'alice', 'age': '26', 'gender': 'male', 1: [1, 2, 3]}

In [ ]:
dic1.update([('size','large')]) # add a new key-value pair to the dictionary using update method
print(dic1)

{'name': 'alice', 'age': '26', 'gender': 'male', 1: [1, 2, 3], 'size': 'large'}