In [2]:
# Take input from user
numbers = input("Enter numbers separated by commas: ")

# Convert input into list
numbers_list = numbers.split(",")

# Convert list into tuple
numbers_tuple = tuple(numbers_list)

# Print results
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

List: ['1', '2', '3', '4', '6', '7', '9', '10', '15']
Tuple: ('1', '2', '3', '4', '6', '7', '9', '10', '15')

In [3]:
# HANDS ON LAB 1
"""
Task 1: Store Employee Details in Dictionary
Create a dictionary with employee IDs as keys
Each employee has: name, department, salary
Retrieve employee by ID
"""
employee_details={
    101:{'name':'alice','department':'HR','salary':15000},
    102:{'name':'bob','department':'IT','salary':20000},
    103:{'name':'charlie','department':'Finance','salary':18000}
}
print(employee_details[102]) # retrieve employee with ID 102

{'name': 'bob', 'department': 'IT', 'salary': 20000}

In [4]:
# HANDS ON LAB 2
"""
Given a list with duplicate values, remove duplicates using a set
Example: [1, 2, 3, 2, 4, 1] -> [1, 2, 3, 4]
"""
numbers=[1,2,1,2,3,4,4,5,6,7,8,8,9,10]
unique_numbers=list(set(numbers))
print(numbers)
print(unique_numbers)

[1, 2, 1, 2, 3, 4, 4, 5, 6, 7, 8, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# HANDS ON LAB 3
"""
List of student grades:[85, 92, 78, 90, 88]
Sort in descending order
Find highest and lowest grades
"""
student_grades = [85, 92, 78, 90, 88]
arranged_grades=student_grades.sort(reverse=True)
print(student_grades)
print("Minimum grade:",min(student_grades))
print("maximum grade:",max(student_grades))

[92, 90, 88, 85, 78]
Minimum grade: 78
maximum grade: 92

In [12]:
# HANDS ON LAB 4
"""Create an address book where each name maps to:
Phone number
Email
Address
Allow adding, updating, and looking up contacts
"""
address_book={
    'alice':{'phone number':'123-456-7890','email':'alice@example.com','address':'123 Main St'},
    'bob':{'phone number':'987-654-3210','email':'bob@example.com','address':'456 Oak Ave'},
    'charlie':{'phone number':'555-555-5555','email':'charlie@example.com','address':'789 Pine Rd'}
}
print(address_book) # print the entire address book
print(address_book['bob']) # look up bob's contact information
print(address_book.get('alice')) # look up alice's contact information using get method
 # add a new contact sama
address_book.update([('sama',{'phone number':'111-222-3333','email':'sama@example.com','address':'321 Elm St'})])
# change alice's phone number note we must write all the information of alice because update method will replace the entire value of alice key
address_book.update([('alice',{'phone number':'123-456-700','email':'alice@example.com','address':'123 Main St'})])
print(address_book)

{'alice': {'phone number': '123-456-7890', 'email': 'alice@example.com', 'address': '123 Main St'}, 'bob': {'phone number': '987-654-3210', 'email': 'bob@example.com', 'address': '456 Oak Ave'}, 'charlie': {'phone number': '555-555-5555', 'email': 'charlie@example.com', 'address': '789 Pine Rd'}}
{'phone number': '987-654-3210', 'email': 'bob@example.com', 'address': '456 Oak Ave'}
{'phone number': '123-456-7890', 'email': 'alice@example.com', 'address': '123 Main St'}
{'alice': {'phone number': '123-456-700', 'email': 'alice@example.com', 'address': '123 Main St'}, 'bob': {'phone number': '987-654-3210', 'email': 'bob@example.com', 'address': '456 Oak Ave'}, 'charlie': {'phone number': '555-555-5555', 'email': 'charlie@example.com', 'address': '789 Pine Rd'}, 'sama': {'phone number': '111-222-3333', 'email': 'sama@example.com', 'address': '321 Elm St'}}

In [ ]:
# ASSIGNMENT 1 ANSWER
"""Assignment Inventory Management System
Create a system to track products
Each product has: ID, name, quantity, price
Functions:
Add new product
Update quantity
Remove product
Display all products
Use dictionaries to store data
"""
inventory={
    1:{'name':'laptop','quantity':10,'price':1000},
    2:{'name':'phone','quantity':20,'price':500},
    3:{'name':'tablet','quantity':15,'price':300},
    4:{'name':'monitor','quantity':5,'price':200}
}
# add a new product 
inventory.update({5:{'name':'keyboard','quantity':25,'price':50}})
# update quantity of an existing product
inventory[2]['quantity']=30
inventory.update({2:{'name':'phone','quantity':30,'price':500}})
# remove a product 1
del inventory[1] # inventory.pop(1) # another way to remove a product
# display all products
for product_id, details in inventory.items():
    print(f"Product ID: {product_id}, Name: {details['name']}, Quantity: {details['quantity']}, Price: ${details['price']}")

Product ID: 2, Name: phone, Quantity: 30, Price: $500
Product ID: 3, Name: tablet, Quantity: 15, Price: $300
Product ID: 4, Name: monitor, Quantity: 5, Price: $200
Product ID: 5, Name: keyboard, Quantity: 25, Price: $50

In [ ]:
# ASSIGNMENT 2 ANSWER
"""Assignment 2: Implement a student gradebook with ranking and statistics.
"""
# Student Gradebook System
#  Student Dictionary 
students = {
    1: {'name': 'Salma', 'grade': 85},
    2: {'name': 'Ali', 'grade': 92},
    3: {'name': 'Mona', 'grade': 75},
    4: {'name': 'Omar', 'grade': 88}
}

#  Display Students ............
print("Student List ")
for student_id, details in students.items():
    print(f"ID: {student_id}, Name: {details['name']}, Grade: {details['grade']}")

#  Ranking Students .............
print("\nRanking ")

# *********************Convert dictionary to list of tuples*********************
student_list = list(students.items())

# Sort based on grade
student_list.sort(key=lambda x: x[1]['grade'], reverse=True)

rank = 1
for student in student_list:
    print(f"Rank {rank}: {student[1]['name']} - {student[1]['grade']}")
    rank += 1

# Statistics .................
# Create list of grades
grades_list = [details['grade'] for details in students.values()]

average_grade = sum(grades_list) / len(grades_list)
highest_grade = max(grades_list)
lowest_grade = min(grades_list)

print("\nStatistics")
print("Average Grade:", average_grade)
print("Highest Grade:", highest_grade)
print("Lowest Grade:", lowest_grade)

Student List
ID: 1, Name: Salma, Grade: 85
ID: 2, Name: Ali, Grade: 92
ID: 3, Name: Mona, Grade: 75
ID: 4, Name: Omar, Grade: 88

Ranking
Rank 1: Ali - 92
Rank 2: Omar - 88
Rank 3: Salma - 85
Rank 4: Mona - 75

Statistics
Average Grade: 85.0
Highest Grade: 92
Lowest Grade: 75