In [43]:
import pandas as pd 
import numpy as np

In [44]:
df=pd.read_csv('my_file (1).csv', encoding='latin-1')

In [45]:
df.shape

(20, 11)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Rank                               20 non-null     int64
 1   Peak                               9 non-null      object
 2   All Time Peak                      6 non-null      object
 3   ActualÂ gross                      20 non-null     object
 4   AdjustedÂ gross (in 2022 dollars)  20 non-null     object
 5   Artist                             20 non-null     object
 6   Tour title                         20 non-null     object
 7   Year(s)                            20 non-null     object
 8   Shows                              20 non-null     int64
 9   Average gross                      20 non-null     object
 10  Ref.                               20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [47]:
df.head()

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [48]:
df.describe(include=object)

,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Average gross,Ref.
count,9,6,20,20,20,20,20,20,20
unique,7,6,20,20,9,20,16,20,20
top,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2013â2014,"$13,928,571",[1]
freq,2,1,1,1,4,1,3,1,1

In [49]:
#convert the row with index 7 value from 7 to 8
df.at[7, 'Rank'] = 8

In [50]:
df.head(10)

,Rank,Peak,All Time Peak,ActualÂ gross,AdjustedÂ gross (in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour â,2023â2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",BeyoncÃ©,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour â¡[4][a],2008â2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018â2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]
5,6,2[4],10[9],"$305,158,363","$388,978,496",Madonna,The MDNA Tour,2012,88,"$3,467,709",[9]
6,7,2[10],NaN,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,2008â2009,131,"$2,137,405",[11]
7,8,NaN,NaN,"$257,600,000","$257,600,000",Pink,Summer Carnival â,2023â2024,41,"$6,282,927",[12]
8,9,NaN,NaN,"$256,084,556","$312,258,401",BeyoncÃ©,The Formation World Tour,2016,49,"$5,226,215",[13]
9,10,NaN,NaN,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,2015,85,"$2,945,882",[14]