set up your enviroment

In [ ]:
! pip install python-3.10

print statment

In [ ]:
#!/usr/bin/env python3
print('hello world with python')
print(500 + 200)

hello world with python
700

In [3]:
print(200,300,500,'salma',sep='-')

200-300-500-salma

In [4]:
print('hello',end='')
print('world')

print('hello',end=' ')
print('world')

helloworld
hello world

In [7]:
print("this is a long string that spans \
multiple lines for demonstration purposes.")

this is a long string that spans multiple lines for demonstration purposes.

In [8]:
print('welcome to python programming'); print('let\'s learn together');print('have fun coding!')

welcome to python programming
let's learn together
have fun coding!

variables

In [11]:
name='ahmed ali'
age=25
hight=170.5
is_student=False
z=None
print('name:',name)
print('age:',age)   
print('hight:',hight)
print('is student:',is_student)
print('z:',z)

name: ahmed ali
age: 25
hight: 170.5
is student: False
z: None

In [16]:
x=10
x='text value'
print('x:',x)

x: text value

In [15]:
a,b,c=5,10,'salma'
print('a:',a)
print('b:',b)
print('c:',c)

a: 5
b: 10
c: salma

In [14]:
y=z=f=100
print('y:',y)
print('z:',z)
print('f:',f)

y: 100
z: 100
f: 100

In [24]:
a,x=6,'hello'
A,X=10,'WORLD'
print('a:',a ,'\n' +'A:',A )
print('x:',x,'\n' +'X:',X)

a: 6
A: 10
x: hello
X: WORLD

Data types

In [25]:
# int 
num=10
print('num:',num)

num: 10

In [ ]:
#playing with int values 
print(10)
print(-300)
num=100
print(num)
num=-5000
print(num)

10
-300
100
-5000

In [33]:
#playing with complex numbers 
print(complex(2,3))
print(complex(4,-8))
x=complex(1,2)
print('x=',x)
print(complex(5))

(2+3j)
(4-8j)
x= (1+2j)
(5+0j)

In [ ]:
# some imortant int functions
import math
print(int(12.34))
print(float(100))
print(str(123))
print(abs(-50))
#print(cmp(10,20))  # Note: cmp() is not available in Python 3
print(math.sqrt(25))
print(math.log(100,10))
print(pow(2,3))

12
100.0
123
50
5.0
2.0
8

In [49]:
# string indexing and slicing
batman = 'Bruce Wayne'
print(batman[0])  # Output: 'B'
print(batman[-11])  # Output: 'B'
print(batman[10])  # Output: 'e'
print(batman[-1])  # Output: 'e'
print(batman[0:5])  # Output: 'Bruce' will include index 0 but exclude index 5
print(batman[6:])  # Output: 'Wayne' will include index 6 to the end of the string
print(batman[3:len(batman)])  # Output: 'ce Wayne' will include index 3 to the end of the string

B
B
e
e
Bruce
Wayne
ce Wayne

In [ ]:
#Strings Reverse Slicing we write the start and end index in reverse order and add -1 as the step to reverse the string
batman = 'Bruce Wayne'
print(batman[::-1])  # Output: 'enyaW ecurB' will reverse the string
print(batman[10:0:-1])  # Output: 'enyaW e'
print(batman[10:3:-2])  # Output: 'eaWc' will include index 10 to index 4 with a step of -2

enyaW ecurB
enyaW ecur
eyWe

In [54]:
str='hello world'
print(str[:5])
print(str[6:])
print(str[3:8])
print(str[:])
print(str[::-1])

hello
world
lo wo
hello world
dlrow olleh

In [ ]:
a,b='hello','python'
print(a+b)
print(a*3)

print(b[1])
print(b[-1])

x="l"
print(x in b)

hellopython
hellohellohello
y
n
False

In [ ]:
name='salma sameh'
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.swapcase()) #will swap the case of each character in the string, so uppercase letters will become lowercase and vice versa. In this case, 'salma sameh' will become 'SALMA SAMEH'.
print(name.replace('a','o'))
print(name.strip()) #The strip() method removes any leading and trailing whitespace characters from the string.
print(name.find('s')) #return the index of the first occurrence of 's' in the string, which is 0 in this case

SALMA SAMEH
salma sameh
Salma sameh
Salma Sameh
SALMA SAMEH
solmo someh
salma sameh
0

user input

In [67]:
input_str = input("Enter your name: ")
print("Hello, " + input_str + "! Welcome to Python programming.")

Hello, salma sameh! Welcome to Python programming.

In [69]:
int_num= input("Enter an integer: ")
print(type(int_num))  # This will print <class 'str'> because input() returns a string
int_num = int(int_num)  # Convert the string to an integer
print("You entered the integer:", int_num)
print(type(int_num))  # This will now print <class 'int'> after conversion

<class 'str'>
You entered the integer: 25
<class 'int'>

In [71]:
name , age ,gender='ahmed', 25,'male'
print('my name is '+ name)
print('my name is {0} and my age is {1} and my gender is {2}'.format(name, age, gender))
print('my name is {} and my age is {} and my gender is {}'.format(name, age, gender))
print('my gender is {2} and my name is {0} and my age is {1}'.format(name, age, gender))
print(f'my name is {name} and my age is {age} and my gender is {gender}')

my name is ahmed
my name is ahmed and my age is 25 and my gender is male
my name is ahmed and my age is 25 and my gender is male
my gender is male and my name is ahmed and my age is 25
my name is ahmed and my age is 25 and my gender is male

In [ ]:
# escape characters
print("This is a \"quoted\" string.")
print('This is a \'quoted\' string.')
print("This is a backslash: \\")
print("This is a new line:\nas you See?")
print("This is a tab:\tSee?")
print("This is a long string that spans \nmultiple lines for demonstration purposes.")
print('welcome to python \bprogramming')  #The \b escape character is a backspace, which moves the cursor one position back. In this case, it will remove the space between "python" and "programming", resulting in "welcome to pythonprogramming".

This is a "quoted" string.
This is a 'quoted' string.
This is a backslash: \
This is a new line:
as you See?
This is a tab:	See?
This is a long string that spans
multiple lines for demonstration purposes.
welcome to pythonprogramming

In [76]:
a=300
b=200
if a<b:
    print('b is greater than a')
elif a>b:
    print('a is greater than b')
else:
    print('a and b are equal')

a is greater than b

In [77]:
a=250
b=300
print('a') if a>b else print('b')

b

In [78]:
for i in range(1,10):
    if i%2==0:
        print('i is even:',i)
    else:
        print('i is odd:',i)

i is odd: 1
i is even: 2
i is odd: 3
i is even: 4
i is odd: 5
i is even: 6
i is odd: 7
i is even: 8
i is odd: 9

In [79]:
for i in range(1,10,2):
    if i%2==0:
        print('i is even:',i)
    else:
        print('i is odd:',i)

i is odd: 1
i is odd: 3
i is odd: 5
i is odd: 7
i is odd: 9

In [80]:
x=0
while x<4:
    print('x', x)
    x+=1

x 0
x 1
x 2
x 3

In [83]:
x=0
while x<=14:
    if x==3:
        x+=1
        continue
    if x==10:
        break
    print('x', x)
    x+=1

x 0
x 1
x 2
x 4
x 5
x 6
x 7
x 8
x 9

In [84]:
name='salma'
for char in name :
    if char=='l':
        pass
    else:
        print(char)

s
a
m
a